:root {
    --gap: 6px;
}

body {
    color: var(--vscode-editor-foreground);
    font-size: var(--vscode-editor-font-size);
    font-weight: var(--vscode-editor-font-weight);
    font-family: var(--vscode-editor-font-family);
    background-color: var(--vscode-editor-background);
    display: flex;
    gap: var(--gap);
    padding: var(--gap);
    flex-wrap: wrap;
}

.block {
    display: flex;
    gap: var(--gap);
    padding: var(--gap);
    flex-wrap: wrap;

    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;

    border: 1px solid rgb(80, 80, 80);
}

.block:empty {
    display: none;
}

.value {
    white-space: nowrap;
    padding: 2px 4px;
    background-color: var(--bg, transparent);
    color: var(--c, var(--vscode-editor-foreground));
    border-radius: 3px;
    max-width: 100%;
    display: flex;
    align-items: center;
}

.rawcode {
    --c: #4b0082;
    --bg: #42bbde;
}

.uint32le {
    --c: #f18181;
    --bg: #540d0d;
}

.uint32be {
    --c: #857ee4;
    --bg: #130c45;
}

.float32le {
    --с: #46e127;
    --bg: #135007;
}

.string {
    --с: #3dd3de;
    --bg: #0f494d;
    white-space: break-spaces;
}
