:root {
    --gap: 6px;
}

body {
    color: var(--vscode-editor-foreground);
    font-size: var(--vscode-editor-font-size);
    font-weight: var(--vscode-editor-font-weight);
    font-family: var(--vscode-editor-font-family);
    background-color: var(--vscode-editor-background);
    padding: 0;
}

.wrap {
    display: flex;
    gap: var(--gap);
    padding: var(--gap);
    flex-wrap: wrap;
}

.block {
    display: flex;
    gap: var(--gap);
    padding: var(--gap);
    flex-wrap: wrap;

    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;

    border: 1px solid rgb(80, 80, 80);
}

.block:empty {
    display: none;
}

.value {
    white-space: nowrap;
    padding: 2px 4px;
    border-radius: 3px;
    max-width: 100%;
    display: flex;
    align-items: center;
}

.value-help {
    background-color: #505050;
}

.value-all {
    background-color: #114848;
}

.value-group {
    display: flex;
    gap: 1px;
    align-items: stretch;
    flex-wrap: nowrap;
}

.value-group > .value:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.value-group > .value:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ws-bs {
    white-space: break-spaces !important;
}
