body {
    color: var(--vscode-editor-foreground);
    font-size: var(--vscode-editor-font-size);
    font-weight: var(--vscode-editor-font-weight);
    font-family: var(--vscode-editor-font-family);
    background-color: var(--vscode-editor-background);
    padding: 0;
}

table {
    border-spacing: 0;
    --cell-padding: 3px;
}

thead {
    position: sticky;
    top: 0;
    background-color: var(--vscode-editor-background);
}

th {
    padding: var(--cell-padding);
    text-align: left;
}

tbody > tr:nth-child(odd) {
    background-color: var(--vscode-tree-tableOddRowsBackground);
}

td {
    padding: var(--cell-padding);
}

td {
    white-space: nowrap;
}
